<!DOCTYPE html>
<html>
<head>
  <title>CSE Bark: {{title}}</title>
  <link rel="stylesheet" href="/stylesheets/screen.css" type="text/css" />
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
  <script type="text/javascript" src="/application.js"></script>
  <script>
    function init() {
      function debug(string) {
        var element = document.getElementById("debug");
        var p = document.createElement("p");
        p.appendChild(document.createTextNode(string));
        element.appendChild(p);
      }

      var Socket = "MozWebSocket" in window ? MozWebSocket : WebSocket;
      var ws = new Socket("ws://localhost:9293/");
      ws.onmessage = function(evt) { debug("Message: " + evt.data); };
      ws.onclose = function() { debug("socket closed"); };
      ws.onopen = function() {
        debug("connected...");
        ws.send("hello server");
        ws.send("hello again");
      };
    };
  </script>
</head>

<body onload="init();">
  <div id="debug"></div>
  {{{yield}}}
</body>
</html>
